@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Open+Sans:wght@400;500;600;700;800&family=Outfit:wght@300;400;500;600;700;800;900&family=Poppins:wght@400;500;600;700&family=Raleway:wght@400;500;600;700;800;900&display=swap');
.ff_railway {
  font-family: "Raleway", "sans";
}
.ff_outfit {
  font-family: "Outfit", "sans";
}
.ff_poppins {
  font-family: "Poppins", "sans";
}
.ff_inter {
  font-family: "inter", "sans";
}
.ff_open_sans {
  font-family: "Open Sans", "sans";
}
.card_Shadow {
  transition: all 300ms linear !important;
}
/* feature */
.card_Shadow:hover {
  box-shadow: 0px 1px 30px 0px rgba(0, 0, 0, 0.1);
}
.slick-active.slick-center.slick-current .card_bg {
  box-shadow: 0px 1px 30px 0px rgba(0, 0, 0, 0.1) !important;
  border: unset !important;
}

.arrows_bg:hover {
  background: linear-gradient(
    223deg,
    #fbc524 -75.58%,
    #e939d9 2.42%,
    #2abae9 74.42%
  );
}

.arrows_bg:hover svg path {
  stroke: white;
}

.slick-dots li button:before {
  color: #28b3e6 !important;
  font-size: 10px !important;
}
.slick-dots li.slick-active button:before {
  color: #1d80d0 !important;
}
.slick-dots {
  bottom: -37px !important;
}
.waitlist_shado {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
/* plan cards */
.plan_card:hover .plan_icon path {
  fill: white !important;
}

.plan_card:hover button {
  background: white !important;
}

.plan_card button {
  background: var(
    --Linear-two,
    linear-gradient(91deg, #994fff 0.27%, #4ab6fe 98.57%)
  );
}

.footer_bg {
  background: var(
    --Linear-color,
    linear-gradient(223deg, #fbc524 -34.99%, #e939d9 21.89%, #2abae9 74.4%)
  );
}
.footer_icon {
  filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.15));
}
.input_border_gradient {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #994fff, #2abae9) border-box;
  border: 2px solid transparent;
  position: relative;
}
.shadow:before {
  content: "";
  position: absolute;
  inset: -1px;
  transform: translate(10px, 25px);
  z-index: -1;
  background: conic-gradient(
    from 90deg at 40% 0%,
    #2abae9,
    #2abae9,
    #994fff,
    #994fff,
    #994fff,
    #994fff,
    #994fff,
    #994fff,
    #994fff,
    #994fff,
    #994fff,
    #994fff,
    #2abae9,
    #2abae9,
    #2abae9,
    #2abae9
  );
  filter: blur(30px);
}
.calc_height_custom {
  min-height: 60vh;
}
@media (min-width: 1023.98px) {
  .calc_height_custom {
    min-height: calc(100vh - 90px);
  }
}
.scroll_bar::-webkit-scrollbar {
  height: 3px;
}
/* Track */
.scroll_bar::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
.scroll_bar::-webkit-scrollbar-thumb {
  background: #2cb9e9;
  border-radius: 5px;
}
/* Handle on hover */
.scroll_bar::-webkit-scrollbar-thumb:hover {
  background: #2cb9e9;
}
