@tailwind base;
@tailwind components;
@tailwind utilities;

.marketShadow {
  box-shadow: 0px 7px 21px 0px rgba(0, 0, 0, 0.1);
}
.ProgressSlide .slick-track {
  display: flex !important;
}
.ProgressSlide .slick-slide {
  height: inherit !important;
  display: flex !important;
}
.ProgressSlide .slick-slide > div {
  display: flex;
  width: 100%;
}
.ProgressSlide .slick-list {
  overflow: visible !important;
}
.uniqueBg {
  background: linear-gradient(91deg, #994fff 0.27%, #4ab6fe 98.57%);
}
.UniqueBtn {
  background: linear-gradient(105deg, #2abae9 0%, #1b77cc 100%);
}
.ProgressSlide .slick-current {
  border-radius: 8px !important;
  overflow: hidden;
}
@media (min-width: 1400px) {
  .ProgressSlide .slick-current {
    transform: scale(1.3);
    margin-left: 60px !important;
    margin-right: 60px !important;
  }
}
@media (min-width: 1280px) {
  .ProgressSlide .slick-current {
    transform: scale(1.3);
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 0px 3.23603px 17.79814px 0px rgba(0, 0, 0, 0.1);
  }
}
